.root {
  background-color: #000000;
  display: block;
  padding: 0px;
  margin: 0px;
}
.Gallery {
  margin: 0 auto;
  width: 100%;
  min-width: 400px;
  position: relative;
  display: inline-block;
  overflow: auto;
  align-content: start;
  align-self: center;
}
.iframe {
  margin: 0 auto;
  position: relative;
  width: 96%;
  aspect-ratio: 2.35 / 1;
  display: flex;
}
.iframe2 {
  margin: 0 auto;
  position: relative;
  width: 96%;
  aspect-ratio: 4 / 3;
}
