.root {
  background-color: #000000;
  display: block;
  padding: 0px;
  margin: 0px;
}
.Gallery {
  margin: 0 auto;
  width: 100%;
  min-width: 400px;
  position: relative;
  display: inline-block;
  overflow: auto;
  align-content: start;
  align-self: center;
}
.images {
  display: inline-block;
  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-around;
  position: sticky;
  width: 96%;
  margin: 1%;
  padding: 0%;
  border: 1px solid #ffffff;
}
