.root {
  background-color: #000000;
  display: block;
  padding: 0px;
  margin: 0px;
  font-family: Lucida Console, monospace;
  color: #ffffff;
}
.Heading {
  font-family: Lucida Console, monospace;
  padding: 100px;
  margin: 10px;
  color: #ffffff;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-self: start;
  position: relative;
  overflow: auto;
  flex-direction: column;
  padding-left: 0vw;
  padding-right: 0vw;
}
.icons {
  width: 40px;
  margin: 0px 15px;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-self: center;
  position: static;
  overflow: auto;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.social:hover {
  scale: 0.95;
  transition: 0.3s;
}

.icon2 {
  width: 50px;
}

.p {
  color: #fff;
}
